body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eecae2;
}
header {
  background-color: #462c43;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}
header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1em;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 2em;
}

.mixed {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cake {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cake img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 10px;
}

.images {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.images img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 8px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

footer p {
  margin: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

footer a:hover {
  text-decoration: underline;
}
