body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #462c43;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}
header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1em;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 2em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.flavors {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 5px;
  text-align: center;
}

.flavors img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

footer p {
  margin: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

footer a:hover {
  text-decoration: underline;
}
